.card {
  background: #212832;
  height: 26rem;
  width: 26rem;
  border-radius: 1.6rem;
  padding: 2.3rem;
}

@media (max-width: 450px) {
  .card {
    height: 26rem;
    width: 22rem;
    padding: 2rem 1.8rem;
  }
}
