.ratingModal__heading {
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.7rem 0 0.9rem 0;
}

.ratingModal__text {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4rem;
}

.ratingModal__buttons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.ratingModal__submitButton {
  all: unset;
  background: hsl(25, 97%, 53%);
  box-sizing: border-box;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  letter-spacing: 0.15rem;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
  width: 100%;
}

.ratingModal__submitButton:active {
  color: hsl(25, 97%, 53%);
  background: hsl(0, 0%, 100%);
}
